*{
    box-sizing: border-box;
}
.Fullcenter {
    background-color: brown;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#formulário {
    background-color: blue;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center ;

}